html, body {
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  background: radial-gradient(circle, rgba(255,237,75,1) 37%, rgba(253,205,59,1) 73%);
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.background {
  background: radial-gradient(circle, rgba(255,237,75,1) 37%, rgba(253,205,59,1) 73%);
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; 
  align-content: center;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.box .row.content {
  flex: 1 1 auto;
}

.center-vertically-inside { 
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 10vh;
}

.bottomFadeOut {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

[data-custom-class='mybody'], [data-custom-class='mybody'] * {
          background: transparent !important;
          /*flex: 1 1 auto;*/
        }
[data-custom-class='title'], [data-custom-class='title'] * {
          font-family: Arial !important;
font-size: 26px !important;
color: #000000 !important;
        }
[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
          font-family: Arial !important;
color: #595959 !important;
font-size: 14px !important;
        }
[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
          font-family: Arial !important;
font-size: 19px !important;
color: #000000 !important;
        }
[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
          font-family: Arial !important;
font-size: 17px !important;
color: #000000 !important;
        }
[data-custom-class='body_text'], [data-custom-class='body_text'] * {
          color: #595959 !important;
font-size: 14px !important;
font-family: Arial !important;
        }
[data-custom-class='link'], [data-custom-class='link'] * {
          /*color: #3030F1 !important;*/
          text-decoration: none !important;
          color: black !important;
font-size: 14px !important;
font-family: Arial !important;
word-break: break-word !important;
        }
